* {
    margin: 0;
}

.bolo {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.k {
    display: flex;
}

.o {
    display: flex;
    gap: 8px;
    align-items: center;
}

.o button {
    background-color: green;
    color: white;
    border-radius: 18px;
    padding: 9px;
}

.bollo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.buttunxo {
    display: flex;
    padding: 20px;

}
.textt {
    padding: 10px;
    border: 1px solid black;

}
.all {
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-template-rows: repeat(7,);
    gap: 30px;
    padding: 5%;
}
.textt1 {
    display: flex;
    grid-column: 1/3;
    background-color: #279A59;
}
.textt2 {
    display: flex;
    grid-column: 3/5 ;
    background-color: #24BFD0;
}
.textt3 {
    display: flex;
    background-color: #24BFD0;
}
.text3 {
    display: flex;
    background-color: #6567F2;
}
.tett3 {
    display: flex;
    background-color:#F57676;
}
.txtt3 {
    display: flex;
    background-color: #FFDB5C;
}

.textt3 img {
    margin-top: 70px;
}
.text3 img {
    margin-top: 70px;
}
.tett3 img {
    margin-top: 70px;
}
.txtt3 img {
    margin-top: 70px;
}
.textt4 {
    display: flex;
    grid-row: 3/5;
    grid-column: 1/3;
    background-color: #279A59;
}
.textt4 img {
    width: 60%;
    height: 60vh;
}
.textt5 {
    grid-column: 1/3;
    display: flex;
    background-color: #6567F2;
}
.textt6 {
    grid-column: 3/5;
    display: flex;
    background-color: #27C8DA;
}
.texttt{
    background-color:#6567F2 ;
}   
.textnt{
    background-color: #27C8DA;
}
.texttu{
    background-color: #FFDB5C;
}
.texttt{
    background-color: #F57676;
}
.lc {
    display: flex;
    /* gap: 5px; */
}

.lc img {
    width: 25%;
}

.i {
    display: flex;
    gap: 19px;
    padding: 20px;
}

.oxq {
    background-color: black;
    color: white;
    padding: 80px;
    width: 80%;
    border-radius: 40px;
    margin-left: 6%;
    padding: 90px;
}

.oxq button {
    border-radius: 20px;
    color: white;
    background-color: #43d925;
    padding: 10px;
}

.ff {
    padding: 20px;
}
.ox{
    display: flex;
    gap:5%;
   background-color: #279A59; 
   padding: 40px;
   color: white;
   margin-top: 10%;
}
@media(max-width:540px){
.bolo{
        display: none;
    }
    .bollo p{
       display: none;
    }
    .all{
        display: flex;
        flex-direction: column;
    }
    .oxq{
        display: flex;
        flex-direction: column;
        width: 58%;
    }
}

